backtesting
bitmex
fbprophet
hydra-core
jsonlines
jupyter
keras
matplotlib
numpy~=1.19
omegaconf
orbit-ml
pandas~=1.2
pillow
pystan~=2.14
scikit-learn
scipy~=1.6
seaborn
statsmodels
tensorflow
tqdm
xgboost