backtesting~=0.2.2
bitmex~=0.2.2
prophet
hydra-core
jsonlines
jupyter
keras~=2.12.0
matplotlib
neuralprophet
numpy~=1.19
omegaconf
orbit-ml~=1.1.3
pandas~=1.2
pillow
scikit-learn
scipy~=1.6
seaborn
statsmodels
tensorflow~=2.12.0
tqdm
xgboost~=1.7.5